h1{
    font-size: 60px;
    padding: 100px  0;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
}
.hiro{
    display: grid;
    padding: 40px 10px;
    grid-template-columns: 1fr 1fr 1fr;
}