h1{
    font-size: 60px;
    padding: 100px  0;
    font-weight: 300;
    text-align: center;
    letter-spacing: 4px;
}
.hiro{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 50px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-auto-rows: 200px;
}
.hiro>.img_wrapper{
    overflow: hidden;
}
.hiro>.tall{
}
.hiro>.img_wrapper>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .6s;
    cursor:pointer;
    filter: blur(2px);
}
.hiro>.img_wrapper>img:hover{
    transform: scale(1.05);
    filter: blur(0px);
}